.chat-im{
    position: relative;
    // height:100%;
    // height:calc(100%);
}
.ant-modal-content{
    height:100%;
}

.leftSession{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    width:200px;
    border-right:1px solid #ccc;
    overflow: auto;
    .ant-avatar{
        width:45px;
        height:45px;
    }
    .ant-badge{
        margin-right: 20px;
    }
    .loading-container{
        text-align: center;
        padding-top:20px;
    }
}

.chatBoard{
    position: relative;
    margin-left:200px;
    height:100%;
    .chat-wrap{
        height:100%;
        display: flex;
        flex-direction:column;
    }
    .title{
        height:40px;
        text-align: center;
        border-bottom:2px solid #ccc;
        background:#fff;
        color:#000;
        font-size:20px;
    }
    .message{
        height:300px;
        position: relative;
        overflow-y: auto;
        flex:auto;
        border-bottom:2px solid #ccc;
        padding:0 10px 10px;
    }
    .opt{
        text-align: center;
    }
    .loading,.load-history,.load-unread-mess{
        display: inline-block;
        padding:4px 20px;
        background:#ccc;
        border-radius: 10px;
        margin:10px 0;
    }
    .info{
        
        .mess-wrap{
            overflow: hidden;
        }
        .date{
            text-align: center;
        }
        .mess{
            clear: both;
            .content{
                .custom{
                    cursor: pointer;
                }
            }
            .ant-avatar,.content{
                float:left;
            }
            &.right{
                .ant-avatar{
                    float:right;
                }
            }
        }
        .left{
            float:left;
        }
        .right{
            float:right;
        }
        img{
            max-width:200px;
            max-height:300px;
        }
    }
    .controlBox{
        overflow: hidden;
        height:210px;
        .control-bar{
            padding:10px;
            display: flex;
            justify-content: space-between;
        }
        textarea{
            border:0;
            resize: none;
            outline: 0;
            box-shadow: none;
        }
        .btn-wrap{
            float:right;
            button{
                margin-left:10px;
            }
        }
    }
}