.header {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
.header .user {
  display: inline-block;
  width: 128px;
}
.header .user .add-patient {
  width: 64px;
  height: 64px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.header .user .add-patient .icon {
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}
.header .user .user-info {
  width: 64px;
  height: 64px;
  text-align: center;
  float: left;
  cursor: pointer;
  position: relative;
}
.header .user .user-info img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}
.header .user .user-info .user-item-wrap {
  position: absolute;
  width: 84px;
  z-index: 9;
  background: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  left: -10px;
}
.header .user .user-info .user-item-wrap .user-item {
  height: 40px;
  line-height: 40px;
}
.header .user .user-info .user-item-wrap .user-item:hover {
  color: #1890ff;
}
.modal-btn {
  margin-right: 20px;
}
.tips {
  line-height: 40px;
  color: #f00;
  text-align: center;
}
.wx-add-btn {
  text-align: center;
  margin-top: 20px;
}
.wx-add-btn .wx-close-btn {
  margin-right: 20px;
}
.wx-add-btn.padding-bottom {
  padding-bottom: 20px;
}
.teaching-link {
  text-align: center;
  margin-top: 20px;
}
.teaching-link .use-teaching {
  text-decoration: underline;
}
.wx-words-refresh {
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
}
.wx-words-refresh:hover {
  color: #1890ff;
}
.invite-success-icon {
  text-align: center;
  font-size: 50px;
  color: #b7eb8f;
}
.invite-success-wrods {
  text-align: center;
  font-size: 18px;
}
.return-to-input {
  text-align: center;
  height: 40px;
  line-height: 40px;
  text-decoration: underline;
}
.return-to-input .return-link {
  cursor: pointer;
}
<<<<<<< HEAD
=======
.user-center .user-center-item {
  min-height: 45px;
  line-height: 45px;
}
.user-center .user-center-item input {
  display: inline-block;
  width: auto;
  height: 35px;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #eee;
}
.user-center .user-center-item input.user-address {
  width: 485px;
}
.user-center .user-center-item .class-item {
  margin-right: 10px;
}
.user-center .user-center-item .user-image-wrap {
  width: 485px;
  min-height: 80px;
  display: inline-block;
  vertical-align: text-top;
}
.user-center .user-center-item .user-image-wrap .image-box {
  display: inline-block;
  width: 100px;
  height: 80px;
  background: #eee;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
}
>>>>>>> chat
