.chatBoard{
    position: relative;
    overflow: hidden;
    height:100%;
    background:rgba(240,242,245,1);
    .pro_card{
        text-align: left;
        background:rgba(255,255,255,1);
        border-radius:18px 18px 0px 18px;
        border:1px solid rgba(197,197,197,1);
        padding:12px 20px 6px;
        .title{
            height:28px;
            font-size:20px;
            color:rgba(0,0,0,1);
            line-height:28px;
            text-align: left;
            margin-bottom:4px;
            border:none;
        }
        .detail{
            // margin-top:7px;
            img{
                width:40px;
                height:40px;
                float:left;
                display: block;
                margin-right:10px;
            }
            .intro{
                width:230px;
                font-size:14px;
                color:rgba(102,102,102,1);
                line-height:20px;
                
            }
        }
    }
    .no-selTo{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size:14px;
        color:rgba(0,0,0,1);
        img{
            width:54px;
            height:54px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin:0 auto;
        }
        p{
            height:20px;
            line-height:20px;
            margin-top:8px;
        }
    }
    .chat-wrap{
        height:100%;
        display: flex;
        flex-direction:column;
    }
    .title{
        height:53px;
        line-height:53px;
        text-align: center;
        background:#fff;
        color:#000;
        font-size:20px;
        font-weight:500;
        border-bottom:1px solid rgba(240,242,245,1);
        box-sizing: content-box;
    }
    .message{
        height:300px;
        position: relative;
        overflow-y: auto;
        flex:auto;
        border-bottom:1px solid rgba(221,225,231,1);
        padding:10px 20px 10px;
    }
    .opt{
        text-align: center;
        width:100%;
    }
    .loading,.load-history,.load-unread-mess{
        display: inline-block;
        cursor: pointer;
        margin-bottom:18px;
        border-radius:19px;
        font-size: 12px;
    }
    .load-history{
        width:210px;
        height:30px;
        line-height: 30px;
        background:rgba(229,236,243,1);
        color:rgba(24,144,255,1);
    }
    .loading{
        width:210px;
        height:30px;
        line-height: 30px;
        background:rgba(229,236,243,1);
        color:rgba(0,0,0,1);
    }
    .load-unread-mess{
        padding:9px 27px 9px 25px;
        height:38px;
        background:rgba(255,255,255,1);
        box-shadow:0px 6px 9px 0px rgba(0,0,0,0.05);
        border:1px solid rgba(237,237,237,1);
        color:rgba(24,144,255,1);
        
    }
    .info{
        .mess-wrap{
            overflow: hidden;
            margin-bottom:46px;
        }
        .new_mess_tip{
            position: relative;
            &:after{
                content:'';
                display: block;
                border:1px solid #ccc;
            }      
            span{
                background:#fff;
                z-index:9;
                display: block;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
        }
        .date{
            text-align: center;
            margin-bottom:46px;
            font-size:12px;
        }
        .mess{
            clear: both;
            .content{
                overflow: hidden;
                background:rgba(225,225,225,1);
                border-radius:18px 18px 18px 0px;
                font-size:14px;
                color:rgba(0,0,0,1);
                .custom{
                    cursor: pointer;
                }
                .text{
                    padding: 10px 17px;
                    max-width: 280px;
                    text-align: justify;
                    font-size: 14px;
                    word-break: break-all;
                }
            }
            .ant-avatar{
                border-radius:50%;
            }
            .ant-avatar,.content{
                display: inline-block;
                vertical-align: bottom;
            }
            &.right{
                .content{
                    background:rgba(24,144,255,1);
                    color:rgba(255,255,255,1);
                    border-radius:18px 18px 0px 18px;
                }
                .ant-avatar{
                    margin-left:14px;
                }
            }
        }
        .left{
            float:left;
            .ant-avatar{
                margin-right: 8px;
            }
        }
        .right{
            float:right;
        }
        img{
            max-width:200px;
            max-height:300px;
        }
    }
    .controlBox{
        overflow: hidden;
        height: 190px;
        padding: 10px 20px 7px;
        .control-bar{
            display: flex;
            justify-content: space-between;
        }
        .patient-file{
            width: 120px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background: white;
            border-radius: 19px;
            border: 1px solid #ededed;
            font-size: 14px;
            color: black;
            cursor: pointer;
            &::before{
                content:'';
                display: inline-block;
                vertical-align: middle;
                margin-right:8px;
                width: 18px;
                height: 18px;
                background-image:url('../images/icon-file.png');
                background-size:100% 100%;
            }
        }
        .self-make-mess{
            span{
                cursor: pointer;
                margin-left:12px;
                display: inline-block;
                width: 22px;
                height: 22px;
                background-size: 100% 100%;
                &.follow-btn{
                    background-image:url('../images/icon-followup.png');
                    &.active{
                        background-image:url('../images/icon-followup-act.png');
                    }
                }
                &.page-btn{
                    background-image:url('../images/icon-page.png');
                    &.active{
                        background-image:url('../images/icon-page.png');
                    }
                }
                &.measure-btn{
                    background-image:url('../images/icon-measure.png');
                    &.active{
                        background-image:url('../images/icon-measure-act.png');
                    }
                }
            }
        }
        textarea{
            border:0;
            resize: none;
            outline: 0;
            box-shadow: none;
            background:none;
            margin-top:8px;
            font-size:14px;
            color:rgba(0,0,0,1);
        }
        .btn-wrap{
            float:right;
            margin-top:12px;
            text-align: center;
            button{
                width: 100px;
                height: 32px;
                background: #1890ff;
                border-radius: 32px;
                font-size: 14px;
                color: white;
            }
            p{
                font-size: 12px;
                color: #959595;
            }
        }
    }
}

.pro-drop-wrap{
    width:250px;
    padding-bottom:10px;
    background:rgba(255,255,255,1);
    box-shadow:0px -4px 8px 0px rgba(0,0,0,0.09);
    border-radius:14px 14px 1px 1px;
    .pop-title{
        padding:0 15px;
        height:45px;
        font-size:20px;
        font-weight:500;
        color:rgba(0,0,0,1);
        line-height:45px;
        border-bottom:1px solid rgba(240,242,245,1);
        display: flex;
        justify-content: space-between;
        i{
            font-style: normal;
            cursor: pointer;
        }
    }
    .date{
        input{
            width:220px;
        }
    }
    .custom-content{
        padding: 0 15px;
        .pro{
            margin:10px 0;
            p{
                height:20px;
                font-size:14px;
                color:rgba(0,0,0,1);
                line-height:20px;
                margin-bottom:6px;
                cursor: pointer;
                b{
                    display: inline-block;
                    vertical-align: middle;
                    width: 14px;
                    height:14px;
                    border:1px solid #ccc;
                    border-radius: 50%;
                }
                i{
                    vertical-align: middle;
                }
                span{
                    margin-left:10px;
                    display: inline-block;
                    vertical-align: middle;
                    // height:14px;
                }
            }
        }
    }
    .btn-wrap{
        margin-top:15px;
        text-align: center;
        button[disabled]{
            background:none;
            color:#ccc;
        }
        button{
            width:215px;
            height:31px;
            line-height:31px;
            background:rgba(24,144,255,1);
            border-radius:32px;
            font-size:15px;
            color:rgba(255,255,255,1);
        }
    }
    .date{
        margin-top:10px;
        p{
            height:20px;
            font-size:14px;
            color:rgba(0,0,0,1);
            line-height:20px;
            margin-bottom:6px;
        }
    }
}