.chat-im{
    position: relative;
    font-family: PingFangSC-Regular;
    // border:1px solid #ccc;
}

.ant-modal-content{
    height:100%;
    .ant-tabs-content{
        height:300px;
        overflow: auto;
    }
}

.img-container{
    .image{
        transform:translate(-50%,-50%)
    }
}