.chat-im{
    height:100%;
    position: relative;
    font-family: PingFangSC-Regular;
    // border:1px solid #ccc;
}


.file-modal{
    &.ant-modal{
        top:50%;
        // transform: translateY(-50%);
        margin-top:-300px;
        background:#fff;
        transition: none;
        padding-bottom:0;
        border-radius: 5px;
        overflow: hidden;
    }
    .ant-tabs-content{
        height:390px;
        overflow: auto;
        box-shadow: none;
    }
    .ant-modal-body{
        padding-bottom:0;
        padding-top:0;
    }
}

.img-container{
    .image{
        transform:translate(-50%,-50%)
    }
}