.leftSession{
    float:left;
    min-width:280px;
    max-width:400px;
    height:100%;
    overflow:hidden;
    background:#fff;
    border-right:1px solid rgba(240,242,245,1);
    display: flex;
    flex-direction: column;
    .tag{
        height:53px;
        font-size:20px;
        color:rgba(0,0,0,1);
        line-height:53px;
        padding-left:20px;
        background:#fff;
        border-bottom:1px solid rgba(240,242,245,1);
        box-sizing: content-box;
    }
    p{
        margin-bottom:0;
    }
    .ant-list{
        flex:auto;
        overflow-y: auto;
        overflow-x:hidden;
    }
    .ant-list-item{
        padding:14px 12px;
        cursor: pointer;
        border-bottom:1px solid rgba(240,242,245,1)!important;
        &.active{
            background:rgba(245,248,251,1);;
        }
        // &:hover{
        //     background:rgba(245,248,251,1);
        // }
    }
    .ant-avatar{
        border-radius:50%;
        width:42px;
        height:42px;
        background:#F1F3F4;
        // border:1px solid #BBBBBB;
        margin-right: 8px;
    }
    .loading-container{
        text-align: center;
        padding-top:20px;
    }
    .text{
        flex:auto;
    }
    .top{
        display: flex;
        justify-content: space-between;
        margin-bottom:2px;
        .name{
            width:80px;
            line-height: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            color: #000;
        }
        .time{
            height:14px;
            font-size:10px;
            color:rgba(197,197,197,1);
        }
    }
    .bot{
        display: flex;
        justify-content: space-between;
    }
    .content{
        width:150px;
        height:17px;
        line-height: 17px;
        font-size:12px;
        color:rgba(182,182,182,1);
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ant-badge-count{
        font-size:12px;
        min-width:18px;
        width:18px;
        height:18px;
        line-height: 18px;
        padding:0;
        background:rgba(229,65,85,1);
        box-shadow:0px 4px 6px 0px rgba(0,0,0,0.12);
    }
}