
.measure{
    height:100%;
    max-width:500px;
    margin:0 auto;
    background:#fff;
    padding:0 40px 40px;
    .pro-name{
        height:50px;
        font-size:30px;
        line-height: 50px;
        border-bottom:1px solid #ccc;
    }
    .list{
        padding-top:20px;
        .item{
            display: flex;
            align-content: center;
            line-height:30px;
            margin-bottom:20px;
            &:before{
                content:'';
                display: block;
                width:30px;
                height:30px;
                border-radius:50%;
                background:#eee;
                margin-right: 20px;
            }
            .name{
                margin-right: 30px;
            }
            span{
                display: block;

            }
        }
        .name{

        }

    }
}