.form-wrap{
    margin-top:30px;
    border-top:1px solid #ccc;
    form{
        padding-left:14px;
    }
    .has-error .ant-form-explain, .has-error .ant-form-split{
        position: absolute;
    }
    .ant-form-item-required::before{
        display: none;
    }
    .ant-radio-disabled + span,.ant-input-disabled{
        color:rgba(0, 0, 0, 1)
    }
    .ant-radio-disabled .ant-radio-inner::after{
        // background-color:rgba(0, 0, 0, 1)
        background-color:#1890ff
    }
    .ant-radio-disabled .ant-radio-inner{
        border-color:#1890ff!important;
    }
    .ant-form-item{
        margin-right:0;
        margin-bottom:15px;
    }
    .ant-form-item-with-help{
        margin-bottom:15px;
    }
    .title{
        padding:20px 0;
        font-size: 18px;
        padding-left: 14px;
        position: relative;
        &::before{
            content:'';
            display: block;
            position: absolute;
            border-left: 4px solid #1890ff;
            height:20px;
            top:50%;
            left:0;
            transform: translateY(-50%)
        }
    }
    .btn-wrap{
        text-align: right;
        overflow: hidden;
        &:after{
            content:'';
            display: block;
            height:0;
            overflow: hidden;
            clear: both;
        }
    }
    .small-input{
        width:50px;
    }
    .middle-input{
        width:100px;
    }
    .cover-input{
        input{
            width:50px;
        }
    }
    .cover-middle-input{
        input{
            width:200px;
        }
    }
    .big-input{
        width:80%;
    }

    // .form-3{
    //     & > form > div > .ant-form-item > .ant-form-item-label{
    //         width:180px;
    //     }
    // }
}

form{
    .inline-item{
        display: inline-block;
    }
}

.form_3{
    .form-item-wrap{
        overflow: hidden;
        > .ant-form-item{
            float:left;
            > .ant-form-item-label{
                width:180px;
            }
        }
    }
    .ant-form-item{
        .ant-form-item-label{
            display: inline-block;
        }
        .ant-form-item-control-wrapper{
            display: inline-block;
        }
    }
}
