.crf-tabs{
    padding-top:20px;
    .ant-tabs {
        min-height:200px;
    }
    .ant-tabs-bar{
        border:none;
    }
    .ant-tabs-ink-bar{
        visibility: hidden;
    }
    .ant-tabs-nav > div{
        display: flex;
    }
    .ant-tabs-nav .ant-tabs-tab{
        width:30px;
        height:50px;
        // padding-top:60px;
        // padding-bottom:0;
        padding:0;
        // padding-left:10px;
        position: relative;
        display: flex;
        align-content: center;
        margin-right:40px;
        &:last-child{
            &:after{
                display: none;
            }
        }
        span{
            position: absolute;
            left:50%;
            top:0;
            transform: translateX(-50%);
        }
        &:after{
            content:'';
            position: absolute;
            right:0px;
            top:70%;
            transform: translate(100%,-50%);
            display: block;
            width:40px;
            border:1px solid #ccc;
        }
        p{
            width:100%;
            height:100%;
            position: relative;
            text-align: center;
            &.done{
                &:before{
                    // background:#52c41a
                    border: 1px solid #52c41a;
                    background: #fff;
                }
            }
            &.wait{
                &:before{
                    // background:#f5222d
                    border: 1px solid #f5222d;
                    background: #fff;
                }
            }
            &:before{
                content:'';
                display: block;
                position: absolute;
                z-index:10;
                left:50%;
                top:70%;
                transform: translate(-50%,-50%);
                width:20px;
                height:20px;
                padding:0;
                background:#fff;
                border: 1px solid #ccc;
                border-radius: 50%;
            }
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active{
        p{
            &:before{
                background:#ccc;
                border:none;
            }
            &.done{
                &:before{
                    background:#52c41a
                }
            }
            &.wait{
                &:before{
                    background:#f5222d
                }
            }
        }
    }
    .pro-list{
        display: flex;
        flex-wrap:wrap;
    }
    .pro{
        width:200px;
        height:30px;
        line-height:30px;
        border:1px solid #ccc;
        border-radius: 1000px;
        padding-left:20px;
        position: relative;
        cursor: pointer;
        margin-right:10px;
        &.done{
            &:after{
                background:#52c41a;
            }
        }
        &.wait{
            &:after{
                background:#f5222d;
            }
        }
        &:after{
            content:'';
            display:block;
            width:10px;
            height:10px;
            border-radius: 50%;
            position: absolute;
            right:20px;
            top:50%;
            transform: translate(0,-50%);
        }
    }
}