@import '../../assets/styles/quantity.scss';

.crf-tabs{
    padding-top:20px;
    .ant-tabs {
        min-height:200px;
    }
    .ant-tabs-bar{
        border:none;
    }
    .ant-tabs-ink-bar{
        visibility: hidden;
    }
    .ant-tabs-nav > div{
        display: flex;
    }
    .ant-tabs-nav .ant-tabs-tab{
        padding:10px 0;
        text-align: center;
        position: relative;
        
        display: flex;
        align-content: center;
        margin-right:40px;
        &:last-child{
            &:after{
                display: none;
            }
        }
        span{
            position: absolute;
            left:50%;
            top:0;
            transform: translateX(-50%);
        }
        &:after{
            content:'';
            position: absolute;
            right:0px;
            top:50%;
            transform: translate(100%,-50%);
            display: block;
            width:40px;
            border:1px solid #ccc;
        }
        p{
            width:26px;
            height:26px;
            line-height: 26px;
            box-sizing: content-box;
            margin:0 5px;
            position: relative;
            text-align: center;
            border-radius: 50%;
            border-width:2px;
            border-style: solid;
            border-color:#ccc;
            margin-bottom:0;
            font-size:12px;
            color:#ccc;
            &.done{
                border-color: $colorDone;
                color: $colorDone;
            }
            &.wait{
                border-color:$colorProcess;
                color: $colorProcess;
            }
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active{
        p{
            background:#ccc;
            color:#fff;
            &.done{
                    background:$colorDone;
                    color:#fff;
            }
            &.wait{
                    background:$colorProcess;
                    color:#fff;
            }
        }
    }
    .pro-list{
        display: flex;
        flex-wrap:wrap;
    }
    .pro{
        width:200px;
        height:30px;
        line-height:30px;
        border:1px solid #ccc;
        border-radius: 1000px;
        padding-left:20px;
        position: relative;
        cursor: pointer;
        margin-right:10px;
        &.done{
            &:after{
                // background:$colorDone;
                border-color:$colorDone;
            }
        }
        &.wait{
            &:after{
                // background:#f5222d;
                border-color:#f5222d;
            }
        }
        &:after{
            content:'';
            display:block;
            width:10px;
            height:10px;
            border-radius: 50%;
            position: absolute;
            right:20px;
            top:50%;
            transform: translate(0,-50%);
            border:1px solid #fff;
        }
    }
}