.crf-wrap{
    .ant-table{
        th{
            white-space: nowrap;
        }
    }
    .ant-pagination {
        text-align: right;
        padding:15px 0;
    }
    .search-bar{
        max-width:400px;
        .warn-tip{
            height:30px;
            line-height:30px;
            color:red;
        }
    }
    .opt{
        cursor: pointer;
    }
    .search-wrap{
        display: flex;
        input,.search-input{
            width:100%;
            border-radius: 0;
            // border-right:0;
        }
        .search-input{
            .ant-select-selection--single{
                border-radius: 0;
            // border-right:0;
            }
        }
        button{
            border-radius: 0;
        }
    }
    .list-wrap{
        .title{
            margin:10px 0;
        }
    }
}