.crf-process{
    .ant-timeline-item-head-green{
        border-color:#52c41a
    }
    .ant-timeline-item-head-red{
        border-color:#f5222d
    }
    .ant-timeline-item-head-blue{
        border-color:gray;
    }
    .ant-timeline-item-head{
        background:#fff;
        z-index:10;
    }
    .ant-timeline-item-content{
        margin-left:30px;
    }
    .ant-page-header{
        padding:0 0 20px;
        border-bottom:1px solid #ccc;
    }
    .ant-page-header-back-icon{
        float:left;
    }
    .ant-page-header-title-view{
        overflow: hidden;
        display: block;
    }
    .patient-info{
        border:none;
        display: flex;
        flex-wrap:wrap;
        p{
            padding-right:24px;
            margin-bottom:0;
            margin-left:24px;
            // height:20px;
            position: relative;
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            &:after{
                content:'';
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                display: block;
                height:20px;
                width:2px;
                background:#ccc;
            }
        }
    }
    .vnode-list{
        padding:30px 10px;
        .node{
            display: flex;
            align-content: center;
            .name{
                margin-right:20px;
            }
            i{
                font-style: normal;
                color:#000;
                border-radius: 1000px;
                display: block;
                font-size:13px;
                height:20px;
                line-height: 20px;
                padding: 0 3px;
                background:#eee;
            }
            .done{
                background:#52c41a;
            }
            .wait{
                background:#f5222d;
            }
        }
        .node-detail{
            display: flex;
            flex-wrap:wrap;
            align-content: center;
            margin:20px 0 0;
            p{
                position: relative;
                width:200px;
                height:30px;
                line-height: 30px;
                padding:0 10px;
                border:1px solid #ccc;
                border-radius: 1000px;
                margin-right:10px;
                cursor: pointer;
                
            }
            .done,.wait{
                &:after{
                    content:'';
                    position: absolute;
                    right:10px;
                    top:50%;
                    transform: translateY(-50%);
                    display: block;
                    width:10px;
                    height:10px;
                    border-radius: 50%;
                    border:1px solid #fff;
                }
            }
            .done{
                &:after{
                    border-color:#52c41a;
                }
            }
            .wait{
                &:after{
                    border-color:#f5222d;
                }
            }
        }
    }
}
.add-follow{
    padding:10px;
    background:#fff;
    border:1px solid #ccc;
    border-radius: 10px;
    .title{
        height:30px;
        line-height:30px;
    }
    .btn-wrap{
        margin:10px 0 0;
        text-align: right;
        button{
            margin:0 4px;
        }
    }
}