.search-input {
  width: 200px;
}

.ant-pagination {
  text-align: right;
  margin: 10px 0;
}

.opt-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.td-img {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

.opt-group {

  // & > button{
  //   padding:10px;
  //   cursor: pointer;
  //   &:hover{
  //     color:#1890ff;
  //   }
  // }
  // .upload{
  //   padding:10px;
  // }
  button {
    padding: 10px;
    display: block;
    background: none !important;
    border: none !important;
  }
}

.my_modal {
  padding:0;
  .ant-modal-content{
    height: 100%;
    overflow: hidden;
    // padding-bottom:100px;
  }
  .ant-modal-body {
    
    height:calc(100% - 55px);
    overflow: auto;
    // padding-bottom:0;
  }
}

.secret-table{
  td{
    padding:4px 2px!important;
    cursor: pointer;
  }
  .no-wrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .opt-td{
    padding:0 10px;
    button{
      margin-right:5px;
    }
  }
}