._form-wrap{
    .btn-wrap{
        button{
            margin-right: 10px;
        }
    }
    &.edit-form-wrap{
        display: flex;
        form{
            width:70%;
            margin-right: 20px;
            border-right: 1px solid #ccc;
            padding-right: 60px;
        }
    }
    .codeImg{
        margin:10px 0 0 10px;
    }
}