.edit-wrap{
<<<<<<< HEAD
    .add-btn-icon{
        font-size: 25px;
        line-height: 40px;
        padding-left: 10px;
        color: #1890ff;
        i{
            cursor: pointer;
        }
    }
    .save-btn-wrap{
        text-align: center;
        margin-top: 20px;
        .save-btn{
            margin-right: 20px;
        }
    }
    .tab2-contents{
        border: 1px solid #eee;
    }
}
=======
    .title-wrap{
        height: 50px;
    }
}
>>>>>>> chat
