.edit-wrap .add-btn-icon {
  margin-top: 20px;
}
.edit-wrap .save-btn-wrap {
  text-align: center;
  margin-top: 20px;
}
.edit-wrap .save-btn-wrap .save-btn {
  margin-right: 20px;
}
.edit-wrap .tab2-contents {
  border: 1px solid #eee;
}
