@import '../../assets/styles/quantity.scss';

.crf-tabs{
    padding-top:20px;
    .ant-tabs {
        min-height:200px;
    }
    .ant-tabs-bar{
        border:none;
    }
    .ant-tabs-ink-bar{
        visibility: hidden;
    }
    .ant-tabs-nav > div{
        display: flex;
    }
    .ant-tabs-nav .ant-tabs-tab{
        padding:10px 0;
        text-align: center;
        position: relative;
        display: flex;
        align-content: center;
        margin-right:0;
        &:last-child{
            i{
                display: none;
            }
        }
        span{
            position: absolute;
            left:50%;
            top:0;
            transform: translateX(-50%);
        }
        i{
            display: inline-block;
            vertical-align: middle;
            width:40px;
            border-top:1px solid #ccc;
            background: #ccc;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            width:26px;
            height:26px;
            line-height: 26px;
            box-sizing: content-box;
            margin:0 5px;
            position: relative;
            text-align: center;
            border-radius: 50%;
            border-width:2px;
            border-style: solid;
            border-color:$colorDefault;
            margin-bottom:0;
            font-size:12px;
            color:#ccc;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            &.done{
                border-color: $colorDefault;
                color: $colorDone;
            }
            &.wait{
                border-color:$colorDefault;
                color: $colorProcess;
            }
        }
    }
    .ant-tabs-nav .ant-tabs-tab-active{
        p{
            background:$colorDefault;
            // color:#fff;
            &.done{
                    background:$colorDefault;
                    // color:#fff;
            }
            &.wait{
                    background:$colorDefault;
                    // color:#fff;
            }
        }
    }
    .pro-list{
        display: flex;
        flex-wrap:wrap;
    }
    .pro{
        width:200px;
        height:30px;
        line-height:30px;
        border:1px solid #ccc;
        border-radius: 1000px;
        padding-left:20px;
        position: relative;
        cursor: pointer;
        margin-right:10px;
        &.active{
            border:1px solid #1890ff;
            color:#1890ff;
        }
        &.done{
            &:after{
                // background:$colorDone;
                border-color:$colorDone;
            }
        }
        &.wait{
            &:after{
                // background:#f5222d;
                border-color:#f5222d;
            }
        }
        &:after{
            content:'';
            display:block;
            width:10px;
            height:10px;
            border-radius: 50%;
            position: absolute;
            right:20px;
            top:50%;
            transform: translate(0,-50%);
            border:1px solid #fff;
        }
    }
}