.archives-wrap .base-info {
  height: 70px;
  line-height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.archives-wrap .base-info i {
  margin-right: 40px;
  font-style: normal;
}
.archives-wrap .base-info i.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #f1f1f1;
}
.archives-wrap .base-info i.name {
  font-size: 18px;
}
.archives-wrap .base-info i.gender {
  font-size: 16px;
}
.archives-wrap .tab1 .follow-up-info {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
.archives-wrap .tab1 .follow-up-info span {
  display: block;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-type {
  float: left;
  margin-right: 40px;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-type i {
  padding: 3px 10px;
  font-weight: bold;
  font-weight: 18px;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-time {
  float: left;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-time i {
  font-weight: bold;
  font-weight: 18px;
}
.archives-wrap .tab1 .ant-steps-item-title {
  width: 100%;
}
.archives-wrap .tab1 .ant-steps-item-title .node-wrap {
  display: flex;
  justify-content: space-between;
}
.archives-wrap .tab1 .input-page .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.archives-wrap .tab1 .input-page .ant-steps-item-wait .dot {
  background: #bbb;
}
.archives-wrap .tab1 .input-page .ant-steps-item-process .dot {
  background: #1890ff;
  transform: scale(1.3);
}
.archives-wrap .tab1 .input-page .ant-steps-item-finish .dot {
  background: #1890ff;
}
.archives-wrap .tab1 .content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
  padding-left: 40px;
}
.archives-wrap .tab1 .content-list:after {
  content: "";
  flex: auto;
}
.archives-wrap .tab1 .content-list .list-item {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.archives-wrap .tab1 .content-list .list-item:hover {
  box-shadow: 1px 1px 3px 1px #eee;
  color: #1890ff;
}
.archives-wrap .tab1 .content-list .list-item .item {
  padding: 0 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.archives-wrap .tab1 .content-list .list-item .item span {
  display: inline-block;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status.finish {
  background: #0f0;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status.process {
  background: #f00;
}
.archives-wrap .tab2 .tab2-header {
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.archives-wrap .tab2 .chart-wrap {
  width: 900px;
  margin: 50px auto;
}
.archives-wrap .tab2 .chart-wrap .chart {
  width: 900px;
  height: 400px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap {
  width: 100%;
  height: 50px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  border-radius: 3px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table td {
  width: 100px;
  height: 35px;
  text-align: center;
  border: 1px solid #f1f1f1;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table td:first-child,
.archives-wrap .tab2 .chart-wrap .date-wrap table td:last-child {
  cursor: pointer;
}
.archives-wrap .tab3 {
  padding-top: 20px;
}
.archives-wrap .tab3 .day-item {
  display: flex;
  margin-bottom: 40px;
}
.archives-wrap .tab3 .day-item .day-item-left {
  width: 150px;
  flex: 0 0 150px;
  position: relative;
}
.archives-wrap .tab3 .day-item .day-item-left::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #eee;
  position: absolute;
  top: 30px;
  left: 5px;
}
.archives-wrap .tab3 .day-item .day-item-left span {
  margin-left: 20px;
}
.archives-wrap .tab3 .day-item .day-item-left span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #1890ff;
  position: absolute;
  border-radius: 5px;
  top: 6px;
}
.archives-wrap .tab3 .day-item .day-item-right {
  padding: 0 10px;
}
.archives-wrap .tab3 .day-item .day-item-right .title span {
  margin-right: 20px;
}
.archives-wrap .tab3 .day-item .day-item-right .link-btn {
  margin-top: 20px;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap .img {
  width: 100px;
  min-height: 150px;
  border: 0;
  outline: none;
  background: #f1f1f1;
}
.archives-wrap .tab3 .day-item .day-item-right .remark {
  margin-top: 20px;
}
