.archives-wrap{
    .base-info{
        height: 70px;
        // line-height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap:wrap;
        //border-bottom: 1px solid #f1f1f1;
        i{
            margin-right: 40px;
            font-style: normal;
            &.avatar{
                display: inline-block;
                width:40px;
                height: 40px;
                border-radius: 20px;
                background: #f1f1f1;
                overflow: hidden;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &.name{
                font-size: 18px;
            }
            &.gender{
                font-size: 16px;
            }
        }
    }
    .tab1{
        .follow-up-info{
            height: 50px;
            line-height: 50px;
            margin-bottom: 20px;
            span{
                display: block;
                &.follow-up-type{
                    float: left;
                    margin-right: 40px;
                    i{
                        padding: 3px 10px;
                        font-weight: bold;
                        font-weight: 18px;
                        font-style: normal;
                    }
                }
                &.follow-up-time{
                    float: left;
                    i{
                        font-weight: bold;
                        font-weight: 18px;
                        font-style: normal
                    }
                }
            }
        }
        .node-wrap{
            width: 100%;
            display: flex;
            //justify-content: space-between;
            span{
                vertical-align: middle;
                text-align: center;
                &.date{
                    width: 200px;
                }
                &.num{
                    width: 100px;
                }
                &.node-name{
                    width: 300px
                }
                &.btn{
                    float: right;
                }
            }
        }
        .ant-table-row {
            i{
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                &.green{
                    background: #25b864
                }
                &.red{
                    background: #f00
                }
                &.grey{
                    background: #bbb
                }
            }
        }
        
        .input-page{
            .dot{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                cursor: pointer;
            }
            .ant-steps-item-wait{
                .dot{
                    background: #bbb
                }
            }
            .ant-steps-item-process{
                .dot{
                    background: #1890ff;
                    transform: scale(1.3)
                }
            }
            .ant-steps-item-finish{
                .dot{
                    background: #1890ff
                }
            }
        }
        .content-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 40px;
            padding-left: 40px;
            &:after {
                content: "";
                flex: auto;
            }
            .list-item{
                display: inline-block;
                width: 200px;
                height: 40px;
                line-height: 40px;
                border: 1px solid #eee;
                border-radius: 20px;
                margin-right: 20px;
                margin-top: 20px;
                cursor: pointer;
                box-sizing: border-box;
                &:hover{
                    box-shadow: 1px 1px 3px 1px #eee;
                    color: #1890ff;
                }
                .item{
                    padding: 0 10px;
                    font-size: 13px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    span{
                        display: inline-block;
                        &.item-status{
                            width: 10px;
                            height: 10px;
                            border-radius: 5px;
                            &.finish{
                                background: #0f0;
                            }
                            &.process{
                                background: #f00
                            }
                        }
                    }
                }
            }
        }
    }
    .tab2{
        .tab2-header{
            height: 50px;
            line-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .chart-wrap{
            width: 900px;
            margin: 50px auto;
            .chart{
                width: 900px;
                height:400px;
            }
            .date-wrap{
                width: 100%;
                height: 50px;  
                table{
                    border: 1px solid #f1f1f1;
                    border-collapse: collapse;
                    border-radius: 3px;
                    td{
                        width: 100px;
                        height: 35px;
                        text-align: center;
                        border: 1px solid #f1f1f1;
                        &:first-child,&:last-child{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .tab3{
        padding-top: 20px;
        .day-item{
            display: flex;
            margin-bottom: 40px;
            .day-item-left{
                width: 150px;
                flex: 0 0 150px;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    background: #eee;
                    position: absolute;
                    top:30px;
                    left: 5px;
                }
                span{
                    margin-left: 20px;
                    &::before{
                        content: "";
                        display:block;
                        width: 10px;
                        height: 10px;
                        background:#1890ff;
                        position: absolute;
                        border-radius: 5px;
                        top:6px;
                    }
                }
                
            }
            .day-item-right{
                padding: 0 10px;
                .title{
                    span{
                        margin-right: 20px;
                    }
                }
                .link-btn{
                    margin-top: 20px;
                }
                .img-wrap{
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .img{
                        width: 100px;
                        min-height: 150px;
                        border: 0;
                        outline: none;
                        background: #f1f1f1
                    }
                }
                .remark{
                    margin-top: 20px;
                }
            }
        }
    }
}