.archives-wrap .base-info {
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.archives-wrap .base-info i {
  margin-right: 40px;
  font-style: normal;
}
.archives-wrap .base-info i.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #f1f1f1;
  overflow: hidden;
}
.archives-wrap .base-info i.avatar img {
  display: block;
  width: 100%;
  height: 100%;
}
.archives-wrap .base-info i.name {
  font-size: 18px;
}
.archives-wrap .base-info i.gender {
  font-size: 16px;
}
.archives-wrap .tab1 .follow-up-info {
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
.archives-wrap .tab1 .follow-up-info span {
  display: block;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-type {
  float: left;
  margin-right: 40px;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-type i {
  padding: 3px 10px;
  font-weight: bold;
  font-weight: 18px;
  font-style: normal;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-time {
  float: left;
}
.archives-wrap .tab1 .follow-up-info span.follow-up-time i {
  font-weight: bold;
  font-weight: 18px;
  font-style: normal;
}
.archives-wrap .tab1 .node-wrap {
  width: 100%;
  display: flex;
}
.archives-wrap .tab1 .node-wrap span {
  vertical-align: middle;
  text-align: center;
}
.archives-wrap .tab1 .node-wrap span.date {
  width: 200px;
}
.archives-wrap .tab1 .node-wrap span.num {
  width: 100px;
}
.archives-wrap .tab1 .node-wrap span.node-name {
  width: 300px;
}
.archives-wrap .tab1 .node-wrap span.btn {
  float: right;
}
.archives-wrap .tab1 .ant-table-row i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.archives-wrap .tab1 .ant-table-row i.green {
  background: #25b864;
}
.archives-wrap .tab1 .ant-table-row i.red {
  background: #f00;
}
.archives-wrap .tab1 .ant-table-row i.grey {
  background: #bbb;
}
.archives-wrap .tab1 .input-page .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.archives-wrap .tab1 .input-page .ant-steps-item-wait .dot {
  background: #bbb;
}
.archives-wrap .tab1 .input-page .ant-steps-item-process .dot {
  background: #1890ff;
  transform: scale(1.3);
}
.archives-wrap .tab1 .input-page .ant-steps-item-finish .dot {
  background: #1890ff;
}
.archives-wrap .tab1 .content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
  padding-left: 40px;
}
.archives-wrap .tab1 .content-list:after {
  content: "";
  flex: auto;
}
.archives-wrap .tab1 .content-list .list-item {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  box-sizing: border-box;
}
.archives-wrap .tab1 .content-list .list-item:hover {
  box-shadow: 1px 1px 3px 1px #eee;
  color: #1890ff;
}
.archives-wrap .tab1 .content-list .list-item .item {
  padding: 0 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.archives-wrap .tab1 .content-list .list-item .item span {
  display: inline-block;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status.finish {
  background: #0f0;
}
.archives-wrap .tab1 .content-list .list-item .item span.item-status.process {
  background: #f00;
}
.archives-wrap .tab1 .step-wrap {
  height: 50px;
  display: flex;
}
.archives-wrap .tab1 .step-wrap .step {
  width: 100px;
  text-align: center;
}
.archives-wrap .tab1 .step-wrap .step .step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.archives-wrap .tab1 .step-wrap .step .step-content .dot {
  width: 15px;
  height: 15px;
  border-radius: 7.6px;
  background: #f00;
}
.archives-wrap .tab2 .tab2-header {
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.archives-wrap .tab2 .chart-wrap {
  width: 900px;
  margin: 50px auto;
}
.archives-wrap .tab2 .chart-wrap .chart {
  width: 900px;
  height: 400px;
}
.archives-wrap .tab2 .chart-wrap .chart-table {
  width: 900px;
  height: 72px;
}
.archives-wrap .tab2 .chart-wrap .chart-table table {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;
}
.archives-wrap .tab2 .chart-wrap .chart-table table td {
  border: 1px solid #eee;
  text-align: center;
  width: 100px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap {
  width: 100%;
  height: 50px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  border-radius: 3px;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table td {
  width: 100px;
  height: 35px;
  text-align: center;
  border: 1px solid #f1f1f1;
}
.archives-wrap .tab2 .chart-wrap .date-wrap table td:first-child,
.archives-wrap .tab2 .chart-wrap .date-wrap table td:last-child {
  cursor: pointer;
}
.archives-wrap .tab2 .chart-wrap .day-data {
  width: 1000px;
  height: 50px;
}
.archives-wrap .tab2 .chart-wrap .ant-checkbox-wrapper {
  margin-left: 0;
}
.archives-wrap .tab2 .chart-wrap .red {
  color: #f00;
}
.archives-wrap .tab2 .data-table {
  width: 100%;
  padding: 50px 0;
}
.archives-wrap .tab2 .data-table .year-box {
  display: flex;
}
.archives-wrap .tab2 .data-table .year-box .year {
  display: inline-block;
  width: 150px;
  line-height: 50px;
  font-size: 20px;
  color: #1890ff;
  text-align: center;
}
.archives-wrap .tab2 .data-table .year-box .list-box {
  display: inline-block;
}
.archives-wrap .tab2 .data-table .year-box .list-box .list-item {
  line-height: 50px;
}
.archives-wrap .tab2 .data-table .year-box .list-box .list-item .day-box {
  display: flex;
}
.archives-wrap .tab2 .data-table .year-box .list-box .list-item .day-box .day {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.archives-wrap .tab2 .data-table .year-box .list-box .list-item .day-box .data-box .data {
  width: 750px;
}
.archives-wrap .tab2 .data-table .year-box .list-box .list-item .day-box .data-box .data span {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.archives-wrap .tab2 .data-table .header {
  display: flex;
  justify-content: flex-start;
}
.archives-wrap .tab2 .data-table .header span {
  display: inline-block;
  width: 150px;
  text-align: center;
}
.archives-wrap .tab3 {
  padding-top: 20px;
}
.archives-wrap .tab3 .day-item {
  display: flex;
  margin-bottom: 40px;
}
.archives-wrap .tab3 .day-item .day-item-left {
  width: 150px;
  flex: 0 0 150px;
  position: relative;
}
.archives-wrap .tab3 .day-item .day-item-left::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #eee;
  position: absolute;
  top: 30px;
  left: 5px;
}
.archives-wrap .tab3 .day-item .day-item-left span {
  margin-left: 20px;
}
.archives-wrap .tab3 .day-item .day-item-left span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #1890ff;
  position: absolute;
  border-radius: 5px;
  top: 6px;
}
.archives-wrap .tab3 .day-item .day-item-right {
  padding: 0 10px;
}
.archives-wrap .tab3 .day-item .day-item-right .title span {
  margin-right: 20px;
}
.archives-wrap .tab3 .day-item .day-item-right .link-btn {
  margin-top: 20px;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap .img {
  width: 100px;
  min-height: 150px;
  border: 0;
  outline: none;
  background: #f1f1f1;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap .img img {
  display: block;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.archives-wrap .tab3 .day-item .day-item-right .img-wrap .img .delete-icon {
  position: absolute;
  top: -11px;
  right: -11px;
  font-size: 20px;
  color: #f00;
  cursor: pointer;
}
.archives-wrap .tab3 .day-item .day-item-right .remark {
  margin-top: 20px;
}
