.patient-content .patient-group-right {
  flex: 3;
  height: inherit;
  text-align: right;
}
.patient-content .patient-group-right span {
  cursor: pointer;
}
.patient-content .patient-group-right span.edit-group-icon {
  margin-right: 20px;
  color: #0098ff;
}
.patient-content .select-time-wrap {
  text-align: right;
  margin-top: -30px;
}
.patient-content .select-time-wrap .count {
  display: inline-block;
  margin-right: 20px;
}
.patient-content .page {
  display: flex;
  justify-content: flex-end;
}
.patient-content .page button {
  margin: 0 10px;
}
.patient-content .action-item {
  display: inline-block;
  height: 30px;
  width: 70px;
  min-width: 60px;
  line-height: 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.patient-content .action-item.current-action {
  color: #0098ff;
}
.patient-content .patient-list-wrap {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}
.patient-content .patient-list-wrap .select-time-wrap {
  height: 40px;
  position: absolute;
  top: -80px;
  right: 0;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
.patient-content .patient-list-wrap .select-time-wrap .count {
  margin-right: 30px;
}
.patient-content .patient-list-wrap .select-time-wrap .count.no-margin {
  margin-right: 0;
}
.patient-content .patient-list-wrap:after {
  content: "";
  flex: auto;
}
.patient-content .patient-list-wrap .patient {
  display: inline-block;
  width: 170px;
  border: 1px solid #eceef0;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 5px 25px #eceef0;
  position: relative;
}
.patient-content .patient-list-wrap .patient:hover .right-hover {
  display: block;
}
.patient-content .patient-list-wrap .patient .right-hover {
  position: absolute;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
  left: 180px;
  top: 0;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 9;
  display: none;
}
.patient-content .patient-list-wrap .patient .right-hover::before {
  content: '';
  display: block;
  position: absolute;
  border-right: 5px solid rgba(0, 0, 0, 0.8);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -5px;
  top: 5px;
}
.patient-content .patient-list-wrap .patient .right-hover .wait-follow,
.patient-content .patient-list-wrap .patient .right-hover .next-time,
.patient-content .patient-list-wrap .patient .right-hover .warning-detail {
  color: #fff;
  font-size: 13px;
}
.patient-content .patient-list-wrap .patient .right-hover .next-time {
  margin-top: 10px;
}
.patient-content .patient-list-wrap .patient .right-hover .warning-detail {
  margin-bottom: 10px;
}
.patient-content .patient-list-wrap .patient .patient-top {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patient-content .patient-list-wrap .patient .patient-top .name {
  display: inline-block;
  font-size: 20px;
  vertical-align: baseline;
}
.patient-content .patient-list-wrap .patient .patient-top i {
  line-height: inherit;
  font-size: 14px;
}
.patient-content .patient-list-wrap .patient .patient-top i.anticon-man {
  color: #0098ff;
}
.patient-content .patient-list-wrap .patient .patient-top i.anticon-woman {
  color: #f00;
}
.patient-content .patient-list-wrap .patient .sub-info {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.patient-content .patient-list-wrap .patient .sub-info span {
  vertical-align: baseline;
  font-size: 14px;
}
.patient-content .patient-list-wrap .patient .patient-bottom {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.patient-content .patient-list-wrap .patient .patient-bottom span {
  color: #f58a8a;
  cursor: pointer;
  vertical-align: middle;
}
.patient-content .patient-list-wrap .patient .patient-bottom i {
  vertical-align: baseline;
  line-height: inherit;
  color: #f58a8a;
  margin-top: 2px;
  float: right;
  vertical-align: middle;
}
.patient-content .patient-list-wrap .patient .patient-bottom .warning-words {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.add-group-icon {
  width: 80px;
  margin-top: 15px;
  font-size: 20px;
  box-sizing: border-box;
}
